[Unit]
Description=Music Booking API Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'cd /home/mikerockmusic51/music-booking-api && docker-compose up'
Restart=always
RestartSec=5
User=ubuntu
WorkingDirectory=/home/mikerockmusic51:/sic-booking-api
StandardOutput=append:/var/log/sic-booking-api.log
StandardError=append:/var/log/sic-booking-api-error.log
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
